# Select 문
---

- SQL에서 가장 많이 쓰이는 문장
- 테이블에 저장된 데이터를 가져올때 사용한다.
- select 문 뒤에 추출 대상 컬럼명을 입력해준다.
- 만약 모든 테이블 컬럼을 다 보고 싶다면 '*'을 입력하면 된다.
- from 절에는 추출 대상 테이블명을 입력한다.

In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

## 전체 컬럼 조회하기

customer 테이블의 관계도
![image](https://user-images.githubusercontent.com/74717033/127747007-9e6b8af4-e62e-4d33-bed4-8b0de57748d9.png)

In [2]:
%%sql
select *
    from customer
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[(524, 1, 'Jared', 'Ely', 'jared.ely@sakilacustomer.org', 530, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (1, 1, 'Mary', 'Smith', 'mary.smith@sakilacustomer.org', 5, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (2, 1, 'Patricia', 'Johnson', 'patricia.johnson@sakilacustomer.org', 6, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (3, 1, 'Linda', 'Williams', 'linda.williams@sakilacustomer.org', 7, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (4, 2, 'Barbara', 'Jones', 'barbara.jones@sakilacustomer.org', 8, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (5, 1, 'Elizabeth', 'Brown', 'elizabeth.brown@sakilacustomer.org', 9, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (6, 2, 'Jennifer', 'Davis', 'jennifer.davis@sakilacustomer.org', 10, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (7, 1, 'Maria', 'Miller', 'maria.miller@sakilacustomer.org', 11, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (8, 2, 'Susan', 'Wilson', 'susan.wilson@sakilacustomer.org', 12, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (9, 2, 'Margaret', 'Moore', 'margaret.moore@sakilacustomer.org', 13, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)]

## 고객의 이름(FIRST_NAME & LAST_NAME)과 EMAIL(EMAIL) 만 조회하기

- 숫자는 실행순서

In [3]:
%%sql

select -- 3
        first_name, last_name, email -- 4
    from -- 1
        customer -- 2
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[('Jared', 'Ely', 'jared.ely@sakilacustomer.org'),
 ('Mary', 'Smith', 'mary.smith@sakilacustomer.org'),
 ('Patricia', 'Johnson', 'patricia.johnson@sakilacustomer.org'),
 ('Linda', 'Williams', 'linda.williams@sakilacustomer.org'),
 ('Barbara', 'Jones', 'barbara.jones@sakilacustomer.org'),
 ('Elizabeth', 'Brown', 'elizabeth.brown@sakilacustomer.org'),
 ('Jennifer', 'Davis', 'jennifer.davis@sakilacustomer.org'),
 ('Maria', 'Miller', 'maria.miller@sakilacustomer.org'),
 ('Susan', 'Wilson', 'susan.wilson@sakilacustomer.org'),
 ('Margaret', 'Moore', 'margaret.moore@sakilacustomer.org')]

## ALIAS 개념 
- 여러개의 테이블에서 컬럼을 불러와야 할때 사용
- from 절의 테이블명에 한칸 띄고 alias(별칭) 을 붙인 뒤, select 절에 입력하는 컬럼명 앞에 *별칭.컬럼명* 형태로 입력한다.
- alias를 사용하면 코드의 가독성이 높아진다. 
- 추가로 SQL 의 성능도 높아진다. (가장 빠르게, 가장 저비용으로 실행되도록 by 옵티마이저) 
    - 옵티마이저 : SQL 의 실행이 최적화되도록 하는 내부 프로세서

![image](https://user-images.githubusercontent.com/74717033/127760357-642d54cf-9041-4afa-99dc-dc2fc629173a.png)

In [4]:
%%sql

select A.first_name, A.last_name
    from customer A
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[('Jared', 'Ely'),
 ('Mary', 'Smith'),
 ('Patricia', 'Johnson'),
 ('Linda', 'Williams'),
 ('Barbara', 'Jones'),
 ('Elizabeth', 'Brown'),
 ('Jennifer', 'Davis'),
 ('Maria', 'Miller'),
 ('Susan', 'Wilson'),
 ('Margaret', 'Moore')]