# ORDER BY 문
---

- select 문에서 가져온 데이터를 정렬하는데 사용된다.
- 실무적으로 매우 자주 쓰이고 유용한 기능
- order by 절 뒤에 추출대상 컬럼명 + 정렬 순서 (asc / desc) 
    - Default는 asc 이다. (숫자는 1부터, 알파뱃은 a부터, 한글은 ㄱ부터)
    - desc는 반대

In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

## order by 절 asc정렬 실습
---
고객명을 알파뱃 순으로 정렬해서 출력

In [2]:
%%sql

select first_name, last_name
    from customer
    order by first_name asc
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[('Aaron', 'Selby'),
 ('Adam', 'Gooch'),
 ('Adrian', 'Clary'),
 ('Agnes', 'Bishop'),
 ('Alan', 'Kahn'),
 ('Albert', 'Crouse'),
 ('Alberto', 'Henning'),
 ('Alex', 'Gresham'),
 ('Alexander', 'Fennell'),
 ('Alfred', 'Casillas')]

- asc는 default이기 때문에 입력하지 않아도 동일한 결과를 얻을 수 있다.

In [3]:
%%sql
select first_name, last_name
    from customer
    order by first_name
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[('Aaron', 'Selby'),
 ('Adam', 'Gooch'),
 ('Adrian', 'Clary'),
 ('Agnes', 'Bishop'),
 ('Alan', 'Kahn'),
 ('Albert', 'Crouse'),
 ('Alberto', 'Henning'),
 ('Alex', 'Gresham'),
 ('Alexander', 'Fennell'),
 ('Alfred', 'Casillas')]

## order by 절 desc정렬 실습
---
고객명을 알파뱃 순으로 역정렬해서 출력

In [4]:
%%sql

select first_name, last_name
    from customer
    order by first_name desc
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[('Zachary', 'Hite'),
 ('Yvonne', 'Watkins'),
 ('Yolanda', 'Weaver'),
 ('Wilma', 'Richards'),
 ('Willie', 'Markham'),
 ('Willie', 'Howell'),
 ('William', 'Satterfield'),
 ('Willard', 'Lumpkin'),
 ('Wesley', 'Bull'),
 ('Wendy', 'Harrison')]

## order by 절 asc/desc정렬 동시 적용실습
---
고객명에서 first_name은 알파뱃 순으로, last_name는 알파뱃 순으로 역정렬해서 출력

In [5]:
%%sql

select first_name -- asc -- 오름차순 -- 순차적
        , last_name -- desc -- 내림차순 -- 역순
    from customer
    order by first_name asc, last_name desc
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[('Aaron', 'Selby'),
 ('Adam', 'Gooch'),
 ('Adrian', 'Clary'),
 ('Agnes', 'Bishop'),
 ('Alan', 'Kahn'),
 ('Albert', 'Crouse'),
 ('Alberto', 'Henning'),
 ('Alex', 'Gresham'),
 ('Alexander', 'Fennell'),
 ('Alfred', 'Casillas')]

## Tip. Order by절에는 정수를 넣어도 동일한 명령어로 인식한다.
---
- select절에 입력하는 컬럼의 순서가 order by 절에서는 순번이 된다.
- 유용하긴 하지만 개인적으로는 코드가 길어졌을때는 즉각적으로 order by한 컬럼을 인식할 수 없어서 자주 사용하진 않음.

In [6]:
%%sql

select first_name -- asc -- 오름차순 -- 순차적 -- 정수 1(순서1)
        , last_name -- desc -- 내림차순 -- 역순 -- 정수 2(순서2)
    from customer
    order by 1 asc, 2 desc
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[('Aaron', 'Selby'),
 ('Adam', 'Gooch'),
 ('Adrian', 'Clary'),
 ('Agnes', 'Bishop'),
 ('Alan', 'Kahn'),
 ('Albert', 'Crouse'),
 ('Alberto', 'Henning'),
 ('Alex', 'Gresham'),
 ('Alexander', 'Fennell'),
 ('Alfred', 'Casillas')]