# WHERE 절
---

- 데이터 검색에 조건을 줘서 filtering을 할 수 있도록 한다.

---

![image](https://user-images.githubusercontent.com/74717033/127764901-ab0e2d43-a74a-422c-84c0-2e5d82379648.png)

조건에는 아래와 같은 양식으로 입력이 가능하다.

![image](https://user-images.githubusercontent.com/74717033/127764915-af469028-bb74-4311-a763-6bf24ba6ee32.png)

In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

## 실습 1. 조건 1개만 적용해서 출력하기

In [2]:
%%sql

select
		last_name
		,first_name
from
	customer
where
	first_name = 'Jamie';

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
2 rows affected.

[('Rice', 'Jamie'), ('Waugh', 'Jamie')]

## 실습 2. 조건 2개를 적용해서 출력하기 (1)
--- 
first_name 은 Jamie, last_name은 Rice인 데이터 출력하기

In [3]:
%%sql
select
		last_name
		,first_name
from
	customer
where
	first_name = 'Jamie'
and last_name = 'Rice';

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
1 rows affected.

[('Rice', 'Jamie')]

## 실습 3. 조건 2개 적용해서 출력하기 (2) with payment 테이블
---

<테이블 설명>

---

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/HB/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link rel=File-List
href="file:///C:/Users/HB/AppData/Local/Temp/msohtmlclip1/01/clip_filelist.xml">
<style>
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
@page
	{margin:.75in .7in .75in .7in;
	mso-header-margin:.3in;
	mso-footer-margin:.3in;}
.font5
	{color:windowtext;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"맑은 고딕", monospace;
	mso-font-charset:129;}
tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
td
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"맑은 고딕", monospace;
	mso-font-charset:129;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{color:#9C5700;
	background:#FFEB9C;
	mso-pattern:black none;}
ruby
	{ruby-align:left;}
rt
	{color:windowtext;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"맑은 고딕", monospace;
	mso-font-charset:129;
	mso-char-type:none;
	display:none;}
-->
</style>
</head>

<body link="#0563C1" vlink="#954F72">



컬럼명 | 설명
-- | --
payment_id | 각 지불의 고유 id
customer_id | 지불한 고객의 id
staff_id | 계산 담당 스태프
rental_id | 어떤 dvd를 빌렸는지
amount | 지불금액
payment_date | 지불 일자



</body>

</html>


- payment 테이블에서 cutomer_id, amount, payment_date를 출력하는데, 지불금액(amount)가 1보다 크거나 8보다 작은 데이터만 출력하기

In [4]:
%%sql

select 
	customer_id
	,
	amount
	,
	payment_date
from
	payment
where amount <= 1
   or amount >= 8
    limit 10; -- 파일크기가 너무 커서 10개만 추출

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
10 rows affected.

[(343, Decimal('0.99'), datetime.datetime(2007, 2, 17, 1, 26, 0, 996577)),
 (343, Decimal('0.99'), datetime.datetime(2007, 2, 17, 4, 32, 51, 996577)),
 (343, Decimal('8.99'), datetime.datetime(2007, 2, 20, 7, 3, 29, 996577)),
 (343, Decimal('0.99'), datetime.datetime(2007, 2, 21, 14, 42, 28, 996577)),
 (344, Decimal('0.99'), datetime.datetime(2007, 2, 16, 14, 0, 38, 996577)),
 (345, Decimal('0.99'), datetime.datetime(2007, 2, 15, 1, 26, 17, 996577)),
 (345, Decimal('0.99'), datetime.datetime(2007, 2, 16, 0, 27, 1, 996577)),
 (347, Decimal('8.99'), datetime.datetime(2007, 2, 16, 12, 40, 18, 996577)),
 (347, Decimal('0.99'), datetime.datetime(2007, 2, 18, 4, 59, 41, 996577)),
 (347, Decimal('8.99'), datetime.datetime(2007, 2, 20, 14, 33, 8, 996577))]