In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

# FETCH 절
- limit절의 기능을 동일하게 수행할 수 있다.(출력하는 행의 수를 한정시킬 때)
- 즉, 부분 범위처리할때 사용되는 문법이다.

---
왜 limit절이 있는데 또 fetch절이 있는걸까?

- 실무에서 다루는 데이터는 매우 방대하다.
- 따라서 출력하는 데이터를 제한하지 않으면 네트워크 사용량 부하가 매우 커지기 때문에 매우 유용하다.
- limit과 동일한 기능을 함에도 불구하고 이런 기능이 또 있다는 것은 어찌 보면 그만큼 데이터의 양을 조절하는 이 문법이 매우 유용하고 자주 그리고 다양하게 쓰인다는 반증이다.

사용법 1) 출력행의 수 제한하기
```python
select *
    from Table_Name
    fetch first [N] row only;
```    
- fetch 절에 출력하는 행의 수를 지정. N을 입력하지 않고, row only만 입력시 '딱 1건' 만 출력한다.

사용법 2) 출력행 제한 + offset 으로 출력시작 행 지정하기
```python
select *
    from Table_Name
    offset N rows
    fetch first [N] row only
```
- offset N row 로 출력 시작 행을 지정
- fetch절에 N값을 입력하여 출력할 행의 수를 지정
---

# 사용법 1) 출력행의 수 제한하기
```python
select *
    from Table_Name
    fetch first [N] row only;
```    
- fetch 절에 출력하는 행의 수를 지정. N을 입력하지 않고, row only만 입력시 '딱 1건' 만 출력한다.

**film 테이블에서 film_id와 title을 출력하는데 title 기준으로 정렬했을때 맨 위의 값을 출력하시오.**

- 실무에서도 딱 1건만 조회하는 경우가 빈번하게 발생

In [2]:
%%sql

select 
	film_id,
	title
from 
	film
order by title -- title 기준으로 정렬한 값중에
fetch first row only; -- N값을 입력하지 않았다. -> 딱 1건만 출력

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
1 rows affected.

[(1, 'Academy Dinosaur')]

- fecth first [N] row only 에서 [N] 부분에 값을 입력하지 않았으므로 `딱 1건만 출력` 된다.

In [3]:
%%sql

select 
	film_id,
	title
from 
	film
order by title -- title 기준으로 정렬한 값중에
fetch first 1 row only; -- N값을 1을 입력해도 동일한 결과가 나온다.(1건만 출력)

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
1 rows affected.

[(1, 'Academy Dinosaur')]

In [4]:
%%sql

select 
	film_id,
	title
from 
	film
order by title -- title 기준으로 정렬한 값중에
fetch first 3 row only; -- N값을 3을 입력하면, 3건만 출력한다.(3건만 출력)

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
3 rows affected.

[(1, 'Academy Dinosaur'), (2, 'Ace Goldfinger'), (3, 'Adaptation Holes')]

# 사용법 2) 출력행 제한 + offset 으로 출력시작 행 지정하기
```python
select *
    from Table_Name
    offset N rows
    fetch first [N] row only
```
- offset N row 로 출력 시작 행을 지정
- fetch절에 N값을 입력하여 출력할 행의 수를 지정

**film 테이블에서 film_id와 title을 출력하는데 title 기준으로 정렬했을때 6번째 행부터 5건만 출력하시오.**

In [5]:
%%sql

select 
	film_id,
	title
from 
	film
order by title -- title로 정렬한 결과값에서
	offset 5 rows -- 6번째 (0, 1, 2, 3, 4, 5 이므로 6번째행)
fetch first 5 row only; -- 5건의 값을 출력

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
5 rows affected.

[(6, 'Agent Truman'),
 (7, 'Airplane Sierra'),
 (8, 'Airport Pollock'),
 (9, 'Alabama Devil'),
 (10, 'Aladdin Calendar')]

> FECTH 절을 쓰든, LIMIT절을 쓰든 결과는 동일하다.


> 단, FECTH절은 오라클 기반에서도 동일한 문법으로 적용할 수 있다. (알아두면 좋음)