In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

# LIKE 연산자

- 특정 집합에서 어떤 컬럼의 값이 특정 값과 '유사한 패턴' 을 가진 데이터의 집합을 추출하는 연산자

```python
select
    first_name,
    last_name
from
    customer
where
    first_name like 'Jen%'; -- first_name이 'Jen'으로 시작하는 데이터의 집합 출력
                            -- %는 와일드카드로 '모든 문자열' 을 의미
```

- LIKE 연산자는 기본적으로 python의 boolean type으로 이해하면 편하다.
- LIKE 연산자로 지정한 조건에 TRUE이면 출력, False 이면 제외 된다.

# 예제 1. LIKE 연산자

- like 연산자에서 % 는 와일드 카드로 '어떤 것이든 다 수용' 할 수 있다. (자리수도 상관없음)
- like 연산자에서 _ 는 문자열의 자리수를 의미하면서, 와일드 카드처럼 어떤 문자열도 다 수용한다.
- 둘의 차이는 %는 자리수와 문자열 모두를 수용하지만, _는 조건으로 지정된 문자열의 개수가 불일치 하면 거짓으로 판단한다는 것

In [2]:
%%sql

select
    first_name,
    last_name
from
    customer
where
    first_name like 'Jen%'; -- Jen 이후에 1자리든 10자리든, 앞에 Jen만 포함된다면 해당되는 모든 집합이 출력된다.

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
3 rows affected.

[('Jennifer', 'Davis'), ('Jennie', 'Terry'), ('Jenny', 'Castro')]

In [4]:
%%sql

select
    first_name,
    last_name
from
    customer
where
    first_name like '%er%'; -- 자리수가 몇개이든 중간에 er만 들어가있으면 모든 집합이 출력된다.

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
58 rows affected.

[('Jennifer', 'Davis'),
 ('Kimberly', 'Lee'),
 ('Catherine', 'Campbell'),
 ('Heather', 'Morris'),
 ('Teresa', 'Rogers'),
 ('Cheryl', 'Murphy'),
 ('Katherine', 'Rivera'),
 ('Theresa', 'Watson'),
 ('Beverly', 'Brooks'),
 ('Sherry', 'Marshall'),
 ('Esther', 'Crawford'),
 ('Amber', 'Dixon'),
 ('Valerie', 'Black'),
 ('Bertha', 'Ferguson'),
 ('Veronica', 'Stone'),
 ('Geraldine', 'Perkins'),
 ('Bernice', 'Willis'),
 ('Roberta', 'Harper'),
 ('Terri', 'Vasquez'),
 ('Gertrude', 'Castillo'),
 ('Vera', 'Mccoy'),
 ('Terry', 'Carlson'),
 ('Sherri', 'Rhodes'),
 ('Robert', 'Baughman'),
 ('Christopher', 'Greco'),
 ('Jerry', 'Jordon'),
 ('Walter', 'Perryman'),
 ('Peter', 'Menard'),
 ('Roger', 'Quintanilla'),
 ('Albert', 'Crouse'),
 ('Terry', 'Grissom'),
 ('Gerald', 'Fultz'),
 ('Jeremy', 'Hurtado'),
 ('Jeffery', 'Pinson'),
 ('Herbert', 'Kruger'),
 ('Frederick', 'Isbell'),
 ('Alexander', 'Fennell'),
 ('Bernard', 'Colby'),
 ('Leroy', 'Bustamante'),
 ('Derek', 'Blakely'),
 ('Jerome', 'Kenyon'),
 ('Derrick', 'Bourque'),
 ('Herman', 'Devore'),
 ('Vernon', 'Chapa'),
 ('Roberto', 'Vu'),
 ('Lester', 'Kraus'),
 ('Tyler', 'Wren'),
 ('Gilbert', 'Sledge'),
 ('Chester', 'Benner'),
 ('Elmer', 'Noe'),
 ('Javier', 'Elrod'),
 ('Fernando', 'Churchill'),
 ('Everett', 'Banda'),
 ('Alberto', 'Henning'),
 ('Perry', 'Swafford'),
 ('Sergio', 'Stanfield'),
 ('Terrance', 'Roush'),
 ('Terrence', 'Gunderson')]

In [5]:
%%sql

select
    first_name,
    last_name
from
    customer
where
    first_name like '_her%'; -- 첫문자(1개)는 _, 즉 어떤 문자가 와도 된다. 하지만 그 다음은 반드시 her이 들어가야한다.
                             -- 만약 her앞에 2개의 문자가 있다면 출력되지 않는다.
                             -- 그 다음은 %가 있으므로 글자수가 몇개이든 상관없이 어떤 문자 or 문자열이어도 출력된다.

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
4 rows affected.

[('Cheryl', 'Murphy'),
 ('Theresa', 'Watson'),
 ('Sherry', 'Marshall'),
 ('Sherri', 'Rhodes')]

# 예제 2. LIKE 연산자2 with Boolean

In [3]:
%%sql

select 
    'FOO' like 'FOO', -- 'FOO'는 'FOO' 이므로 참
    'FOO' like 'F%', -- 'F%'는 'F'로 시작하는 모든 문자열을 참으로 판단
    'FOO' like '_o_', -- '_O_' 는 3자리 문자열이고, 가운데 문자가 'O'이면 참으로 판단
    'BAR' like 'B_'; -- 'B_' 는 2자리 문자열이고, 'B'로시작하면 모두 참으로 판단
                     -- 'BAR'은 'B'로 시작했지만 3자리 이기 때문에 거짓

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
1 rows affected.

[(True, True, False, False)]

# 예제3