In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

# IS NULL 연산자

- 특정 컬럼 혹은 값이 Null 인지를 판단하는 연산자 (python과 동일)
- IS NULL / IS NOT NULL 로 Null값을 판단할 수 있다.

> IS NULL
```python
SELECT *
FROM TABLE_NAME
WHERE COLUMN_NAME -- COLUMN_NAME 의 컬럼값 중에 NULL이 있는 데이터의 집합을 출력
    IS NULL; 
```

> IS NOT NULL
```python
SELECT *
FROM TABLE_NAME
WHERE COLUMN_NAME -- COLUMN_NAME 의 컬럼값 중에 NULL이 없는 데이터의 집합을 출력
    IS NOT NULL; 
```

# 실습용 데이터 만들기

- varchar(50) : 최대 50자 까지 입력가능한 문자 타입의 컬럼

In [2]:
%%sql

CREATE TABLE CONTACTS
(
    ID INT GENERATED BY DEFAULT AS IDENTITY,
    FIRST_NAME VARCHAR(50) NOT NULL, -- 데이터 입력시 Null값을 허용하지 않음
    LAST_NAME VARCHAR(50) NOT NULL,
    EMAIL VARCHAR(255) NOT NULL,
    PHONE VARCHAR(15),
    PRIMARY KEY (ID)
);

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
Done.

[]

In [3]:
%%sql

INSERT INTO CONTACTS
    (FIRST_NAME, LAST_NAME, EMAIL, PHONE)
VALUES
    ('James', 'Potter', 'james.potter@gmail.com', NULL),
    ('Lily', 'Potter', 'lily.potter@gmail.com', '(123-456-7890)');

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
2 rows affected.

[]

> 결과 확인

In [4]:
%%sql

select *
    from contacts;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
2 rows affected.

[(1, 'James', 'Potter', 'james.potter@gmail.com', None),
 (2, 'Lily', 'Potter', 'lily.potter@gmail.com', '(123-456-7890)')]

# 예제 1. IS NULL

- PHONE 컬럼의 값이 NULL 인 데이터 집합 출력하기

잘못된 예시
- NULL은 '=' 연산으로 *비교할 수 있는 data type가 아니다.*
- 따라서 일반적인 비교 연산자의 메커니즘 처럼 **where column_name = NULL** 라고 하는 경우 공집합이 출력된다.

In [5]:
%%sql

select id,
       first_name,
       last_name,
       email,
       phone
from contacts
where phone = NULL;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
0 rows affected.

[]

> 올바른 예시

In [6]:
%%sql

select id,
       first_name,
       last_name,
       email,
       phone
from contacts
where phone IS NULL;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
1 rows affected.

[(1, 'James', 'Potter', 'james.potter@gmail.com', None)]

# 예제 2. IS NOT NULL

In [7]:
%%sql

select id,
       first_name,
       last_name,
       email,
       phone
from contacts
where phone IS NOT NULL;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
1 rows affected.

[(2, 'Lily', 'Potter', 'lily.potter@gmail.com', '(123-456-7890)')]