In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

![image](https://user-images.githubusercontent.com/74717033/130976495-05f2fabd-748e-4345-8719-0b9407e4980e.png)

# OUTER JOIN

- 특정 컬럼을 기준으로 매칭된 집합을 출력한다.
- 단, 한쪽의 집합은 기존에 보유한 모든 결과를 출력하고, 다른 한쪽의 집합은 매칭되는 컬럼의 값 만을 출력한다.
- LEFT / RIGHT OUTER JOIN으로 어느쪽의 집합을 모두 출력할 지 정할 수 있다.

# 예제 1. LEFT OUTER JOIN

- BASKET_A(LEFT = '부등호' 왼쪽에 있는 테이블) 의 데이터는 전부 가져오겠다.
- 그리고, BASKET_B 에 있는 데이터는  BASKET_A와 매칭되는 데이터만 가져오겠다.

Tip. 쿼리에서 LEFT OUTER JOIN 을 LEFT JOIN으로 써도 동일하게 작동한다. (= OUTER는 생략 가능)

![image](https://user-images.githubusercontent.com/74717033/131133835-4157af38-d25b-435e-8087-42bcc091a95d.png)

In [2]:
%%sql

SELECT
	A.ID AS ID_A,
	A.FRUIT AS FRUIT_A,
	B.ID AS ID_B,
	B.FRUIT AS FRUIT_B
FROM
	BASKET_A A -- BASKET_A 테이블과
LEFT OUTER JOIN BASKET_B B -- BASKET_B 테이블 기준으로 조인한다.  단, BASKET_A를 기준으로 한다.
  ON
	A.FRUIT = B.FRUIT;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
4 rows affected.

[(1, 'Apple', 2, 'Apple'),
 (2, 'Orange', 1, 'Orange'),
 (3, 'Banana', None, None),
 (4, 'Cucumber', None, None)]

---
- LEFT인 BASKET_A의 모든 데이터는 출력이 되었다.
- RIGHT에 있던 BASKET_B의 데이터는 BASKET_A와 일치하는 Apple, Orange만 출력되었다.
- BASKET_B에서 BASKET_A와 매칭될 것이 없는 Watermelon, Pear는 NULL로 출력되었다.
---

![image](https://user-images.githubusercontent.com/74717033/131135764-f8b1228f-a394-40e2-8972-d26e8cbd6156.png)

# 예제 2. LEFT OUTER JOIN - LEFT ONLY

- 기존적인 LEFT OUTER JOIN처럼 지정된 테이블과 매칭 되지 않는 값을 NULL로 출력하는 것이 아닌 매칭이 되는 집합의 값만 출력하는 것.
- 즉, NULL을 제외한 매칭되는 값만 출력 하는 것.
- WHERE 조건에 IS NULL을 통해 지정할 수 있다.
---

- 반대로 말하면 BASKET_A에 존재하는것 과 BASKET_A & BASKET_B에 공통으로 존재하는 것은 출력하지 않는다.

In [3]:
%%sql

SELECT
	A.ID AS ID_A,
	A.FRUIT AS FRUIT_A,
	B.ID AS ID_B,
	B.FRUIT AS FRUIT_B
FROM
	BASKET_A A
LEFT OUTER JOIN BASKET_B B 
  ON
	A.FRUIT = B.FRUIT
WHERE
	B.ID IS NULL; -- 이때, B.ID가 NULL인 집합만을 출력한다.

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
2 rows affected.

[(3, 'Banana', None, None), (4, 'Cucumber', None, None)]

# 예제 3. RIGHT OUTER JOIN

- BASKET_B(RIGHT = '부등호' 오른쪽에 있는 테이블) 의 데이터는 전부 가져오겠다.
- 그리고, BASKET_A 에 있는 데이터는  BASKET_B와 매칭되는 데이터만 가져오겠다.
- 즉, 기준점이 왼쪽에서 오른쪽으로 변경되는 것.

Tip. 쿼리에서 RIGHT OUTER JOIN 을 RIGHT JOIN으로 써도 동일하게 작동한다. (= OUTER는 생략 가능)

![image](https://user-images.githubusercontent.com/74717033/131136802-b21d448a-0027-4c04-badc-a4d09961cb1e.png)

In [4]:
%%sql

SELECT
	A.ID AS ID_A,
	A.FRUIT AS FRUIT_A,
	B.ID AS ID_B,
	B.FRUIT AS FRUIT_B
FROM
	BASKET_A A -- BASKET_A 테이블과
RIGHT OUTER JOIN BASKET_B B  -- BASKET_B 테이블을 조인하는데 BASKET_B 테이블을 기준으로 조인한다.
  ON
	A.FRUIT = B.FRUIT; -- 기준 컬럼은 FRUIT 이다.

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
4 rows affected.

[(2, 'Orange', 1, 'Orange'),
 (1, 'Apple', 2, 'Apple'),
 (None, None, 3, 'Watermelon'),
 (None, None, 4, 'Pear')]

---
- RIGHT인 BASKET_B의 모든 데이터는 출력이 되었다.
- LEFT에 있던 BASKET_A의 데이터는 BASKET_B와 일치하는 Apple, Orange만 출력되었다.
- BASKET_A에서 BASKET_B와 매칭될 것이 없는 Banana, Cucumber 는 NULL로 출력되었다.
---

![image](https://user-images.githubusercontent.com/74717033/131137490-64919971-2c99-4eb7-bda1-489b3bc0b462.png)

# 예제 4. RIGHT OUTER JOIN - RIGHT ONLY

- 기존적인 RIGHT OUTER JOIN처럼 지정된 테이블과 매칭 되지 않는 값을 NULL로 출력하는 것이 아닌 매칭이 되는 집합의 값만 출력하는 것.
- 즉, NULL을 제외한 매칭되는 값만 출력 하는 것.
- WHERE 조건에 IS NULL을 통해 지정할 수 있다.
---

- 반대로 말하면 BASKET_B에 존재하는것 과 BASKET_A & BASKET_B에 공통으로 존재하는 것은 출력하지 않는다.

In [5]:
%%sql

SELECT
	A.ID AS ID_A,
	A.FRUIT AS FRUIT_A,
	B.ID AS ID_B,
	B.FRUIT AS FRUIT_B
FROM
	BASKET_A A -- BASKET_A 테이블과
RIGHT OUTER JOIN BASKET_B B -- BASKET_B 테이블을 조인하는데
  ON 
	A.FRUIT = B.FRUIT -- BASKET_B 테이블을 기준으로 조인한다.
WHERE
	A.ID IS NULL; -- 이때, A.ID가 NULL인 집합만을 출력한다.

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
2 rows affected.

[(None, None, 3, 'Watermelon'), (None, None, 4, 'Pear')]

# 왜 OUTER JOIN이 중요 할까?

- 실무에서 매우 많이 쓰이기 때문

Q. 우리가 보유한 고객중 현재 계약 중인지 여부를 파악하는 자료를 볼 수 있을까요?

- 즉, 고객 데이터와 계약 데이터를 동시에 보고 싶은 것 (but, 각 데이터는 CUSTOMER , CONTRACT 테이블에 데이터가 저장되어 있음)
- '고객'이 현재 계약 중인지 아닌지를 봐야 하므로 기준데이터는 '고객' 데이터가 된다.
- 고객에 대한 모든 데이터를 보면서 계약 여부도 함께 표현을 해줘야 한다.

이런 경우가 가장 빈번하게 OUTER JOIN이 사용되는 경우 이다.