In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

# CROSS JOIN

- 두개의 테이블의 CATESIAN PROCUDT 연산의 결과를 출력하는 JOIN 방식
- **데이터 복제를 할때** 자주 사용된다.

```PYTHON
""실습용 테이블 생성""


CREATE TABLE CROSS_T1 -- 라벨 데이터 테이블
(
  LABEL CHAR(1) PRIMARY KEY
);

CREATE TABLE CROSS_T2 -- score 데이터 테이블
(
  SCORE INT PRIMARY KEY
);

------------------

INSERT INTO CROSS_T1 (LABEL)
VALUES
('A'),
('B');

COMMIT; 

INSERT INTO CROSS_T2 (SCORE)
VALUES
(1),
(2),
(3);

COMMIT;
```

In [2]:
%%sql

select * from cross_t1;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
2 rows affected.

[('A',), ('B',)]

In [3]:
%%sql

select * from cross_t2;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
3 rows affected.

[(1,), (2,), (3,)]

# 예제 1. CROSS JOIN

- JOIN 이지만 ON절이 없다.
- 즉, JOIN 가능한 모든 조합을 출력한다.
---
![image](https://user-images.githubusercontent.com/74717033/131337028-328c633a-f429-4365-a996-344dbea1904c.png)

- 2행 3열인 행렬 A(CROSS_T1) 와 3행 2열인 행렬 B (CROSS_T2) 의 행렬곱과 같다.
- 이러한 연산을 **CATESIAN PROCUDT 연산** 이라 한다.

In [4]:
%%sql

SELECT
      *
 FROM CROSS_T1 -- CROSS_T1 테이블과
CROSS JOIN 
      CROSS_T2 -- CROSS_T2 테이블을 CROSS JOIN 한다.
ORDER BY LABEL -- LABEL 기준으로 정렬
;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
6 rows affected.

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3)]

# 예제 2. CROSS JOIN 형식으로 INNER JOIN 하기
- 조건이 없는 INNER JOIN 하기
- from 절에 join할 테이블명을 각각 적어주면 on절 없이 inner join이 가능하다.

In [6]:
%%sql

SELECT * 
FROM CROSS_T1, CROSS_T2
ORDER BY LABEL;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
6 rows affected.

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3)]

# 예제 3. CROSS JOIN이 실무에서 적용되는 예시

- 서로 다른 두개의 label 테이블 CROSS_T1, CROSS_T2에서 각 label 값을 기준으로 score를 sum한 값을 구하시오.

In [8]:
%%sql

SELECT LABEL, 
      CASE WHEN LABEL = 'A' THEN sum(score)  -- label이 A이면 score을 sum
           WHEN LABEL = 'B' THEN sum(score)  -- label이 B이면 score을 sum 하고 * -1
           ELSE 0 -- 둘다 해당되지 않으면 0
           END AS calc
 FROM CROSS_T1
CROSS JOIN 
      CROSS_T2
GROUP BY LABEL      
ORDER BY LABEL       
;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
2 rows affected.

[('A', 6), ('B', 6)]