In [1]:
%load_ext sql

# put a folder and DB credential files at HOME directory

import os
homedir = os.getcwd()
cred_path = os.path.join(homedir, 'db_cred')



# add a 'cred_path' for interpreter to search
import sys
sys.path.append(cred_path)



# import DB credentials from 'gpdb_credentials.py' dictionary file.
from gpdb_credentials import dvdrental_db



# parsing DB credentials and connect to Greenplum using %sql $connection_string

username = dvdrental_db['Username']
password = dvdrental_db['Password']
host = dvdrental_db['Host']
port = dvdrental_db['Port']
database = dvdrental_db['Database']

connection_string = 'postgresql://{user}:{password}@{host}:{port}/{db}'.format(
user=username,
password=password,
host=host,
port=port,
db=database)

%sql $connection_string

'Connected: myuser@dvdrental'

# 아래와 같은 테이블이 있다고 할때

- title = 영화 제목
- length = 영화 상영 시간

In [3]:
%%sql

select *
    from film
    limit 5;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
5 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5"),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2"),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5"),
 (98, 'Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5"),
 (1, 'Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")]

# Q. FILM 테이블에서 영화 상영시간(length)는 동일하지만, 서로 다른 영화인 데이터의 집합을 출력하고 싶다면?

---
우리는 보통 self 조인을 합니다. 아래와 같이

In [4]:
%%sql

SELECT
       F1.TITLE
     , F2.TITLE
     , F1.LENGTH
  FROM
       FILM F1
INNER JOIN FILM F2 -- FILM 테이블과 FILM 테이블을 SELF JOIN
ON F1.FILM_ID <> F2.FILM_ID -- F1의 FILM_ID와 F2의 FILM_ID가 다른 (= 서로 다른 영화)
AND F1. LENGTH = F2.LENGTH -- 영화의 상영시간은 동일
limit 20; -- 6972개를 20개로 limit

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
20 rows affected.

[('Chamber Italian', 'Affair Prejudice', 117),
 ('Chamber Italian', 'Graffiti Love', 117),
 ('Chamber Italian', 'Magic Mallrats', 117),
 ('Chamber Italian', 'Resurrection Silverado', 117),
 ('Grosse Wonderful', 'Doors President', 49),
 ('Grosse Wonderful', 'Heavenly Gun', 49),
 ('Grosse Wonderful', 'Hook Chariots', 49),
 ('Grosse Wonderful', 'Hurricane Affair', 49),
 ('Airport Pollock', 'Go Purple', 54),
 ('Airport Pollock', 'Juggler Hardly', 54),
 ('Airport Pollock', 'Kill Brotherhood', 54),
 ('Airport Pollock', 'October Submarine', 54),
 ('Airport Pollock', 'Sense Greek', 54),
 ('Bright Encounters', 'Bedazzled Married', 73),
 ('Bright Encounters', 'Brotherhood Blanket', 73),
 ('Bright Encounters', 'Frida Slipper', 73),
 ('Bright Encounters', 'Godfather Diary', 73),
 ('Bright Encounters', 'Musketeers Wait', 73),
 ('Bright Encounters', 'Random Go', 73),
 ('Bright Encounters', 'Rebel Airport', 73)]

# 여기서 이런 의문이 생깁니다.
# Q. 위 문제를 SELF JOIN 없이 풀수도 있지 않을까?

정답은 물론 NO! 입니다.

In [5]:
%%sql

SELECT * 
FROM film f1 --테이블을 조회 
WHERE f1.LENGTH = f1.length  -- 영화 상영시간은 동일한데
AND F1.FILM_ID <> f1.FILM_ID -- film_id는 다른 영화를 출력
;

 * postgresql://myuser:***@206.189.155.123:5433/dvdrental
0 rows affected.

[]

라고 배우긴 했는데.... 명확하게 이유를 한두 문장으로 설명을 못하겠습니다.

도와주실분...? ㅋㅋㅋㅋㅋㅋ